pkgbase = metasploit
	pkgdesc = Advanced open-source platform for developing, testing, and using exploit code
	pkgver = 6.0.11
	pkgrel = 1
	url = https://www.metasploit.com/
	arch = x86_64
	license = BSD
	depends = ruby
	depends = libpcap
	depends = postgresql-libs
	depends = ruby-bundler
	depends = sqlite
	depends = libxslt
	depends = libxml2
	depends = inetutils
	depends = git
	options = !strip
	options = !emptydirs
	source = https://github.com/rapid7/metasploit-framework/archive/6.0.11/metasploit-6.0.11.tar.gz
	sha512sums = ec772f6b7b31145762bb7a5530b60b308fc2ca43221fd72efb478d7cb3349b757807f2867330f789d173e7c5e21d77aa0953dc6113cf58b41e9e96d5370267e4

pkgname = metasploit

